// Tables
//
// Prevent double borders

&-table {
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2rem;
    overflow: auto;
    background-color: var(--wwpo-white);

    & td {
        padding: 1rem 1.25rem;
        word-break: normal;
        border-bottom: 1px solid var(--wwpo-gray-300);

        &:first-of-type {
            white-space: nowrap;
        }
    }

    & caption {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: $secondary;
        text-align: left;
    }

    // 1. Removes font-weight bold by inheriting
    // 2. Matches default `<td>` alignment by inheriting `text-align`.
    // 3. Fix alignment for Safari

    & th {
        text-align: left;
        white-space: nowrap;
        padding: 0.75rem 1.25rem;
        font-weight: 600; // 1
        border-bottom: 2px solid var(--wwpo-gray-600);
        color: var(--wwpo-gray-600);
    }

    & thead,
    & tbody,
    & tfoot,
    & tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }
}
