&-wrapper {
    position: relative;
}

&-body {
    position: relative;
    display: flex;
    gap: 2rem;

    @media screen and (max-width: 782px) {
        flex-direction: column;
    }
}

&-content {
    flex: 1;
}

&-sidebar {
    @media screen and (max-width: 782px) {
        display: none;
    }

    position: sticky;
    margin-top: 1rem;
    width: 10rem;
    top: 3rem;
    padding: 1rem 0;
    height: 100vh;
    background-color: var(--wwpo-white);
    border-radius: 0.75rem;
    overflow-y: auto;

    & a:focus {
        box-shadow: none;
    }
    & .item {
        display: block;
        margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: var(--wwpo-gray-700);
        font-size: 1rem;
        font-weight: 300;
        border-top: 1px solid var(--wwpo-gray-200);

        &:first-of-type {
            border: none;
        }

        &:hover {
            color: var(--wwpo-white);
            background-color: var(--wwpo-primary);
        }
    }

    & .submenu {
        padding: 0;
        margin: 0;
        list-style: none;

        & .menu {
            padding-left: 1.75rem;
            color: var(--wwpo-gray-600);
            &:hover {
                color: var(--wwpo-gray-700);
            }
        }
    }
}

&-toc {
    @media screen and (max-width: 782px) {
        position: relative;
        width: 100%;
        order: 0;
        top: 0;
        height: auto;
        margin-bottom: 1rem;
    }

    position: sticky;
    width: 12rem;
    right: 0;
    top: 3rem;
    z-index: 2;
    order: 2;
    color: #646970;
    height: 100vh;

    & h4 {
        margin-top: 0;
        margin-bottom: 1rem;
        color: #646970;
        font-size: 1.25rem;
        padding-bottom: 1rem;
        font-weight: 300 !important;
        border-bottom: 1px solid #c3c4c7;
    }

    & ul {
        margin: 0 !important;
        padding: 0 !important;
    }

    & li {
        list-style: none;
        &.h3 {
            margin-left: 1.75rem;
            list-style: circle;
        }
    }

    & a {
        text-decoration: none !important;
        font-size: 0.875rem !important;
        color: #646970 !important;

        &:hover {
            color: #2c3338 !important;
        }

        &:focus {
            box-shadow: none !important;
        }
    }
}
