&-markdown {
    display: flex;
    gap: 2rem;
    position: relative;
    line-height: 1.5;

    @media screen and (max-width: 782px) {
        display: block;

        &__body {
            flex-direction: column;
        }

        &__sidebar {
            display: none;
        }

        &__toc {
            position: relative !important;
            width: 100% !important;
            order: 0 !important;
            top: 0 !important;
            height: auto !important;
        }
    }

    &__body {
        position: relative;
        display: flex;
        gap: 2rem;
        flex: 1;
    }

    &__content {
        flex: 1;
    }

    &__sidebar {
        position: sticky;
        width: 10rem;
        top: 3rem;
        padding: 1rem 0;
        height: 100vh;
        background-color: var(--wwpo-white);
        border-radius: 0.75rem;
        overflow-y: auto;

        & a:focus {
            box-shadow: none;
        }

        & .item {
            display: block;
            margin-bottom: 0.5rem;
            padding: 0.5rem 1rem;
            text-decoration: none;
            color: var(--wwpo-gray-700);
            font-size: 1rem;
            font-weight: 300;
            border-bottom: 1px solid var(--wwpo-gray-200);

            &:first-of-type {
                margin-top: 0.5rem;
                margin-bottom: 0;
            }

            &:hover {
                color: var(--wwpo-white);
                background-color: var(--wwpo-primary);
            }
        }

        & .submenu {
            padding: 0;
            margin: 0;
            list-style: none;

            & .menu {
                padding-left: 1.75rem;
                color: var(--wwpo-gray-600);
                &:hover {
                    color: var(--wwpo-gray-700);
                }
            }
        }
    }

    &__toc {
        position: sticky;
        width: 12rem;
        right: 0;
        top: 3rem;
        z-index: 2;
        order: 2;
        color: #646970;
        height: 100vh;

        & h4 {
            margin-top: 0;
            margin-bottom: 1rem;
            color: #646970;
            font-size: 1.25rem;
            padding-bottom: 1rem;
            font-weight: 300 !important;
            border-bottom: 1px solid #c3c4c7;
        }

        & ul {
            margin: 0 !important;
            padding: 0 !important;
        }

        & li {
            list-style: none;
            &.h3 {
                margin-left: 1.75rem;
                list-style: circle;
            }
        }

        & a {
            text-decoration: none !important;
            font-size: 0.875rem !important;
            color: #646970 !important;

            &:hover {
                color: #2c3338 !important;
            }

            &:focus {
                box-shadow: none !important;
            }
        }
    }

    // 格式化
    & [hidden] {
        display: none !important;
    }

    & blockquote,
    & pre {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    code,
    kbd {
        padding: 0;
        margin: 0;
        background: transparent;
    }

    & pre {
        padding: 1rem;
        overflow: auto;
        background-color: #f6f8fa;
        border-radius: 0.5rem;
    }

    & abbr[title] {
        border-bottom: none;
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted;
    }

    & b,
    & strong {
        font-weight: 600;
    }

    & dfn {
        font-style: italic;
    }

    & mark {
        padding: 0.25rem;
        background-color: #fff3cd;
    }

    & small {
        font-size: 90%;
    }

    & sub,
    & sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    & sub {
        bottom: -0.25rem;
    }

    & sup {
        top: -0.5rem;
    }

    // 表格
    & table {
        border-radius: 0.25rem;
        overflow: hidden;

        & tbody tr:last-of-type td {
            border: none;
        }
    }

    // 链接
    & a {
        background-color: transparent;
        color: var(--wwpo-primary);
        text-decoration: none;

        &:hover {
            color: #135e96;
            text-decoration: none;
        }

        &:not([href]) {
            color: var(--wwpo-gray-700);
        }

        &:focus {
            box-shadow: none;
        }
    }

    // 图片
    & figure {
        margin: 0 0 2rem;
        & .thumb {
            border-radius: 0.5rem;
            margin-bottom: 0.25rem;
            height: auto;
        }
        & .caption {
            font-weight: 300;
            color: var(--wwpo-gray-700);
        }
    }

    // 分割线
    & hr {
        box-sizing: content-box;
        overflow: hidden;
        background: transparent;
        border-bottom: 1px solid hsla(210, 18%, 87%, 1);
        height: 0.25em;
        padding: 0;
        margin: 24px 0;
        background-color: #d0d7de;
        border: 0;

        &::before {
            display: table;
            content: '';
        }

        &::after {
            display: table;
            clear: both;
            content: '';
        }
    }

    & kbd {
        display: inline-block;
        padding: 0.125rem 0.25rem;
        color: var(--wwpo-white);
        vertical-align: middle;
        background-color: var(--wwpo-gray-700);
        border-radius: 0.25rem;
    }

    & .h1 {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: flex-end;
        gap: 0.5rem;
    }

    & h2 {
        margin-top: 1rem;
        padding-bottom: 0.75rem;
        border-bottom: 1px solid var(--wwpo-gray-400);
    }

    & blockquote {
        padding: 0 1rem;
        color: #656d76;
        border-left: 0.2rem solid #d0d7de;

        & > :first-child {
            margin-top: 0;
        }

        & > :last-child {
            margin-bottom: 0;
        }
    }

    // 列表
    & ul,
    & ol {
        margin: 0 0 2rem;
        padding-left: 2rem;
    }

    & ol {
        list-style-type: decimal;
    }

    & ul {
        list-style-type: disc;
    }

    & ul ul,
    & ul ol,
    & ol ol {
        list-style-type: circle;
    }

    & ul ul ol,
    & ul ol ol,
    & ol ul ol,
    & ol ol ol {
        list-style-type: upper-alpha;
    }

    & li > p {
        margin-top: 1rem;
    }
}
