&-markdown {
    width: calc(100% - 12rem);

    & .octicon {
        display: inline-block;
        fill: currentColor;
        vertical-align: text-bottom;
    }

    & .anchor {
        clear: both;
    }

    & table {
        border-radius: 0.25rem;
        overflow: hidden;

        & tbody tr:last-of-type td {
            border: none;
        }
    }

    & details,
    & figcaption,
    & figure {
        display: block;
    }

    & summary {
        display: list-item;
    }

    & [hidden] {
        display: none !important;
    }

    & a {
        background-color: transparent;
        color: var(--wwpo-primary);
        text-decoration: none;
    }

    & abbr[title] {
        border-bottom: none;
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted;
    }

    & b,
    & strong {
        font-weight: 600;
    }

    & dfn {
        font-style: italic;
    }

    & h1 {
        margin: 0.67em 0;
        font-weight: 600;
        padding-bottom: 0.3em;
        font-size: 2em;
        border-bottom: 1px solid hsla(210, 18%, 87%, 1);
    }

    & mark {
        background-color: #fff8c5;
        color: #1f2328;
    }

    & small {
        font-size: 90%;
    }

    & sub,
    & sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    & sub {
        bottom: -0.25rem;
    }

    & sup {
        top: -0.5rem;
    }

    & figure {
        margin: 0 0 1rem;
        & .thumb {
            border-radius: 0.5rem;
            margin-bottom: 0.25rem;
            height: auto;
        }
        & .caption {
            font-weight: 300;
            color: var(--wwpo-gray-700);
        }
    }

    & hr {
        box-sizing: content-box;
        overflow: hidden;
        background: transparent;
        border-bottom: 1px solid hsla(210, 18%, 87%, 1);
        height: 0.25em;
        padding: 0;
        margin: 24px 0;
        background-color: #d0d7de;
        border: 0;
    }

    & a:hover {
        text-decoration: underline;
    }

    & ::placeholder {
        color: #6e7781;
        opacity: 1;
    }

    & hr::before {
        display: table;
        content: '';
    }

    & hr::after {
        display: table;
        clear: both;
        content: '';
    }

    & details summary {
        cursor: pointer;
    }

    & details:not([open]) > *:not(summary) {
        display: none !important;
    }

    & kbd {
        display: inline-block;
        padding: 3px 5px;
        font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
            Liberation Mono, monospace;
        line-height: 10px;
        color: #1f2328;
        vertical-align: middle;
        background-color: #f6f8fa;
        border: solid 1px rgba(175, 184, 193, 0.2);
        border-bottom-color: rgba(175, 184, 193, 0.2);
        border-radius: 6px;
        box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2);
    }

    & h1,
    & h2 {
        padding-bottom: 0.75rem;
        border-bottom: 1px solid var(--wwpo-gray-400);
    }

    & blockquote {
        margin: 0;
        padding: 0 1em;
        color: #656d76;
        border-left: 0.25em solid #d0d7de;
    }

    & ul,
    & ol {
        padding-left: 2rem;
    }

    & ol ol,
    & ul ol {
        list-style-type: lower-roman;
    }

    & ul ul ol,
    & ul ol ol,
    & ol ul ol,
    & ol ol ol {
        list-style-type: lower-alpha;
    }

    & dd {
        margin-left: 0;
    }

    & a:not([href]) {
        color: inherit;
        text-decoration: none;
    }

    & .absent {
        color: var(--wwpo-danger);
    }

    & p,
    & blockquote,
    & ul,
    & ol,
    & dl,
    & pre,
    & details {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    & blockquote > :first-child {
        margin-top: 0;
    }

    & blockquote > :last-child {
        margin-bottom: 0;
    }

    & ul {
        list-style-type: disc !important;

        & ul {
            list-style-type: circle !important;
        }
    }

    & ul ul,
    & ul ol,
    & ol ol,
    & ol ul {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    & li > p {
        margin-top: 1rem;
    }

    & li {
        margin-bottom: 0.5rem;

        & + li {
            margin-top: 0.25rem;
        }
    }

    & dl {
        padding: 0;
    }

    & dl dt {
        padding: 0;
        margin-top: 1rem;
        font-style: italic;
        font-weight: 600;
    }

    & dl dd {
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    & code br,
    & tt br {
        display: none;
    }

    & del code {
        text-decoration: inherit;
    }

    & samp {
        font-size: 85%;
    }

    code,
    kbd {
        padding: 0;
        margin: 0;
        background: transparent;
        font-size: inherit;
    }

    & pre {
        padding: 1rem;
        overflow: auto;
        background-color: #f6f8fa;
        border-radius: 0.5rem;
    }
}
