// Tables
//
// Prevent double borders

&-table {
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    table-layout: fixed;
    clear: both;
    background-color: var(--wwpo-white);

    & td {
        font-size: 0.875rem;
        padding: 0.5rem 0.5rem;
        border-bottom: 1px solid var(--wwpo-gray-300);
    }

    & caption {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: $secondary;
        text-align: left;
    }

    & tbody tr:hover {
        background-color: var(--wwpo-gray-200);
    }

    // 1. Removes font-weight bold by inheriting
    // 2. Matches default `<td>` alignment by inheriting `text-align`.
    // 3. Fix alignment for Safari

    & th {
        padding: 0.75rem;
        font-weight: 500; // 1
        text-align: inherit; // 2
        border-bottom: 2px solid var(--wwpo-gray-600);
    }

    & thead,
    & tbody,
    & tfoot,
    & tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;
    }
}
