<% _.each(data, function (item) { %>
    <tr>
        <td>
            <button type="button" class="button button-primary" data-action="wpmallorderitem"
                    data-product="{{item.product_id}}" value="selected">选择</button>
        </td>
        <td>
            <div class="ratio ratio-1x1"><img src="{{item.thumb}}" class="thumb rounded"></div>
        </td>
        <td>{{item.title}}</td>
        <td>{{item.barcode}}</td>
        <td>{{item.price_buy}}</td>
        <td>{{item.price_sale}}</td>
    </tr>
<% } ) %>
